.newsletter-description-wrapper {
     padding: 50px 5px 50px 5px;
     border: solid 1px #99ff99;
     background-color: white;
     color: grey;
}
 
.fa-envelope-square {
    font-size: 120px;
    margin: 0 auto;
    color: grey;
}