nav a {
    font-family: sans-serif;
    color: grey;
}

.header-title {
    font-size: 35px;
    color: black;
    font-weight: bold;
}

.header-title:hover {
    text-decoration: none;
    color: black;
}

.header-link {
    text-decoration: none;
    color: grey;
    margin-right: 30px;
}

.header-link:hover {
    color: grey;
    text-decoration: none;
}
 
.dropdown-nav {
    display: none;
}
 
.dropdown-icon {
    font-size: 25px;
}

.fa-sign-out-alt {
    color: brown;
}

@media (max-width: 700px) {
    .dropdown-nav {
        display: block;
    }
    
    .main-nav {
        display: none;
    }
}