footer {
    width: 100%;
    border-top: 1px solid silver;
    overflow: hidden;
    line-height: 70px;
    vertical-align: middle;
    color: black;
    font-family: sans-serif;
    background-color: #99ff99;
}